.navbar3{
    background-color: white;
    display: flex;
    justify-content: start;
    
}
.crear-button {
    transition-duration: 0.4s;
    background-color: white; /* Green */
    border: 2px, white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 0;
  
  }

  .crear-button:hover{
    background-color: black; /* Green */
    border :2px, white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
  
  }
.crear-formulario{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.crear-formulario2{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
   
}
.crear-label{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.crear-label2{
    display: flex;
    flex-direction: column;
   
  
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.crear-input{
    padding: 10px;
    display: flex;
    border: 1px transparent black;
    border-radius: 5px;
}
.crear-boton{
    width: 39%;
    height: 4.5rem;
    border-radius: 5px;
    color: white;
    background-color: rgb(11, 138, 241);
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 30%;
    margin-right: 30%;
 
}
.crear-boton:hover{
    height: 4.5rem;
    border-radius: 5px;
    color: white;
    background-color: rgb(11, 138, 241);
    cursor: pointer;
}
.crear-boton2{
    width: 39%;
    height: 4.5rem;
    border-radius: 5px;
    color: white;
    background-color: green;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 30%;
    margin-right: 30%;
 
}
.crear-boton2:hover{
    height: 4.5rem;
    border-radius: 5px;
    color: white;
    background-color: green;
    cursor: pointer;
}
.crear-boton3{
    width: 39%;
    height: 4.5rem;
    border-radius: 5px;
    color: white;
    background-color: red;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 30%;
    margin-right: 30%;
 
}
.crear-boton3:hover{
    height: 4.5rem;
    border-radius: 5px;
    color: white;
    background-color: red;
    cursor: pointer;
}
.crear-titulo{
    
    padding-bottom: 3rem;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}
.crear-select{
    padding: 10px;
    display: flex;
    border: 1px transparent black;
    border-radius: 5px;
    background-color: white;
}
.borrar-index{
    width: 5%;
}
.borrar-thead{
    width: 100%;
}
.edit-button2{
    width: 7rem;
    height: 3rem;
    background-color: rgb(11, 138, 241);
    border-radius: 5px;
   

}
.delete-button{
    width: 7rem;
    height: 3rem;
    background-color: red;
    border-radius: 5px;
}
.update-body{
    background-color: white;
    
}
.update-table{
    width: 100%;
    border: 0px solid rgb(172, 169, 169);
    border-spacing: 0;
    padding: 2rem;

  
}

.update-coin,
.update-price,
.update-date,
.update-algorithm,
.edit-button{
    color: black;
    width: 18%; 
    text-align: left;
    vertical-align: center;
    border: 1px  rgb(172, 169, 169);
    
    
    height: 2em;
    
    background-color: whitesmoke;
}
.update-index{
    width: 10px;
    color: black;
    text-align: left;
    vertical-align: center;
    border: 1px  rgb(172, 169, 169);
    
    
    height: 2em;
    
    background-color: whitesmoke;
}
.update-index-device{
    padding-right: 5rem;
    color: black;
    text-align: left;
    vertical-align: center;
    border: 1px  rgb(172, 169, 169);
    
    
    height: 2em;
    
    background-color: whitesmoke;
}