body {
    background-image: url("https://cdn.pixabay.com/photo/2021/05/22/06/53/btc-6272691__340.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
}


.home-section {
    position: relative;
    top: 10rem;
    left: 20%;

    width: 42rem;
    height: 50em;

    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.home-titulo {
    font-size: 50px;
}

.home-section2 {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.img-1 {
    height: 35rem;
    width: 40%;
}

.home-texto {
    width: 40%;
    padding-top: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;


}

.home-titulo2 {
    font-size: 40px;
}

.hr {
    color: gold;
    width: 5rem;

    margin-left: 0;
}

.home-parrafo2 {
    color: gray;
    height: 8rem;
    font-size: large;

}