body{
    margin: 0;
}
.titulo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: aliceblue;
    margin: 0px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.seleccionador {
    display: flex;
    padding-left: 10rem;    
    padding-top: 20px;
    padding-bottom: 2rem;
    background-color: tomato;
}

.input-number{
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 10px;
    display: flex;
    border-radius: 5px;
}
.label{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.label-1{
    background-color: whitesmoke;
   
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: oblique;
    font-weight: 600;
    width: 200px;
    border: 0;
}
.label-2{
    width: 195px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.input-style {
    background-color: whitesmoke;
   
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    font-style: oblique;
    font-weight: 600;
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;    
    padding-top: 2rem;
    padding-right: 1.5rem;
    border: 0;

}
.input-style2{
    background-color: whitesmoke;
    border: 0;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: inline;
    justify-content: center;
    font-style: oblique;
    font-weight: 600;
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;   
    padding-bottom: 2rem;
    margin-right: 2rem;
}
.input-style2-1{
    background-color: whitesmoke;
    border: 0;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: inline;
    justify-content: center;
    font-style: oblique;
    font-weight: 600;
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;   
    padding-bottom: 2rem;
    margin-left: 5rem;
}
.input-style3{
    background-color: whitesmoke;
    
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    font-style: oblique;
    font-weight: 600;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: row;
    position: relative;
    
    
    width: 100%;
}
.rellenar-style {
    background-color: whitesmoke;
    
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    font-style: oblique;
    font-weight: 600;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: row;
    position: relative;
    margin-left: 4rem;
    
    
}
.boton-calculadora{
    width: 5rem;
    height: 2.5rem;
    border-radius: 5px;
    color: white;
    background-color: rgb(11, 138, 241);
    margin-top: 17px;
    
}
.boton-calculadora:hover{

    height: 3rem;
    border-radius: 5px;
    color: white;
    background-color: rgb(11, 138, 241);
    cursor: pointer;
    
}
.rellenar-number{
   
    padding: 10px;
    display: flex;
    border: 1px transparent black;
    border-radius: 5px;
    
}
.precios{

    display: flex;
    text-align: center;
    justify-content: center;
}
.precio-junto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: whitesmoke;
    padding-top: 2rem;
    padding-bottom: 8rem;
   
}

.precio-separado2{
    margin-left: 20px;
}



   
  
  .btc-button {
    transition-duration: 0.4s;
    background-color: white; /* Green */
    border: 2px, goldenrod;
    color: goldenrod;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .btc-button:hover {
    background-color: goldenrod; /* Green */
    border :2px, goldenrod;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  .ethereum-button {
    transition-duration: 0.4s;
    background-color: white; /* Green */
    border: 2px, gray;
    color: gray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .ethereum-button:hover {
    background-color: gray; /* Green */
    border :2px, gray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

  }

  

  .titulo-precio {
      display: flex;
      justify-content: center;
  }
.btc-eth-button {
      display: flex;
      flex-direction: row;
          background-color: whitesmoke;
     
  }
  .navbar{
      background-color: black;
      display: flex;
      justify-content: space-between;
      
  }
  
  .table-button {
    transition-duration: 0.4s;
    background-color: black; /* Green */
    border: 2px, black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 0;
  
  }

  .table-button:hover{
    background-color: white; /* Green */
    border :2px, black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
  
  }
 

.footer{
    height: 10rem;
    background-color: black;
    display: flex;
    justify-content: center;
    

}
.footer-contenido{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: aliceblue;
}
.footer-titulo{
    margin: 0;
   
}
.footer2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    

    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer-parrafo{
    width: 400px;
}
.footer-input{
    padding-top: 16px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    height: 26px;
    width: 379px;
    border: 1px solid white;

}
.footer-boton{
    background-color: black;
    color: aliceblue;
    padding-top: 21px;
    padding-bottom: 17.5px;
    padding-right: 22px;
    padding-left: 22px;
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    
    

}
.footer-boton:hover{
    background-color: white;
    color: black;
    padding-top: 21px;
    padding-bottom: 17.5px;
    padding-right: 22px;
    padding-left: 22px;
    cursor: pointer;
    border: 1px solid white;
    text-align: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    

}
.title-login2{
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 2rem;
}
.title-login{
    background-color: white;
}

.calculator-style{
    display: flex;
}
.calculator-interface{
    display: flex;
    align-items: center;
}
.crypto-select{
    margin-left: 0rem;
}
.productivity{
    background-color: whitesmoke;
    padding-left: 29%;
}
.productivity-1{
    padding-top: 1rem;
    font-weight: 600;

}
.converter{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    
}
.rellenar-boton{
    display: flex;
    align-items: center;
    padding-right: 8.5rem;
    position: relative;
    
}
.price{
    background-color: whitesmoke;
    padding-right: 2rem;
    padding-left: 2rem;
}
.klk{
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
}

.error-message{
    color: red;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}