
table {
  width: 100%;
  border: 1px solid #000;
  border-spacing: 0;
}
th, td {
  width: 20%;
  text-align: left;
  vertical-align: center;
  border: 1px solid #000;
  height: 2em;
  color: aliceblue;
  background-color: rgb(24, 24, 24);
}

th{
  color: aliceblue;
  background-color: rgb(24, 24, 24);
  text-align: start;
}

.index {
  width: 10px;
}
.img{
  width: 14px
  
  

}
.table-coin{
  width: 10px;

}
.table-price{
   
    
}


.table-price-change{
  
  

}
.table-market-cap{
  width: 10px;
}