
.table {
  width: 100%;
  border: 1px solid #000;
  border-spacing: 0;
}
.table-coin-title,.img-name, .table-price,.table-price-change,.table-market-cap,.table-volume
{
  width: 17%; 
  text-align: left;
  vertical-align: center;
  border: 1px solid #000;
  height: 2em;
  color: aliceblue;
  background-color: rgb(24, 24, 24);
}

.table-coin , .table-price,.table-price-change,.table-market-cap,.table-volume{
  color: aliceblue;
  background-color: rgb(24, 24, 24);
  text-align: start;
}

.index,.index-title {
  width: 1px; 
  text-align: left;
  vertical-align: center;
  border: 1px solid #000;
  height: 2em;
  color: aliceblue;
  background-color: rgb(24, 24, 24);
}
.img{
  width: 14px
  
  

}
.table-coin{
  width: 10px;

}

.table-market-cap{
  width: 100px;
}
.table-volume{
  width: 100px;
}