body{
    margin: 0;
}
.titulo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: tomato;
    margin: 0px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.seleccionador {
    display: flex;
    padding-left: 10rem;    
    padding-top: 20px;
    padding-bottom: 2rem;
    background-color: tomato;
}

.input-number{
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 10px;
    display: flex;
    
}
.label{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.input-style {
    background-color: rgb(105, 94, 105);
   
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    display: flex;
    justify-content: center;
    
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;    
    

}
.rellenar-style {
    background-color: rgb(158, 52, 158);
    padding-bottom: 3rem;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    display: flex;
    
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;    
}
.rellenar-number{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: flex;
}
.precios{

    display: flex;
    text-align: center;
    justify-content: center;
}
.precio-separado{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.precio-separado2{
    margin-left: 10px;
}



   
  
  .btc {
    transition-duration: 0.4s;
    background-color: white; /* Green */
    border: 2px, #4CAF50;
    color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .btc:hover {
    background-color: #4CAF50; /* Green */
    border :2px, #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;

  }
  .ethereum {
    transition-duration: 0.4s;
    background-color: white; /* Green */
    border: 2px, #4CAF50;
    color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .ethereum:hover {
    background-color: #4CAF50; /* Green */
    border :2px, #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;

  }

  .btc-eth {
      display: flex;
      flex-direction: row;
      background-color: black;
  }

  .titulo-precio {
      display: flex;
      justify-content: center;
  }