.titulo {
    display: flex;
    padding-left: 10rem;
    padding-top: 20px;
    background-color: tomato;
    margin: 0px;
}

.seleccionador {
    display: flex;
    padding-left: 10rem;    
    padding-top: 20px;
    padding-bottom: 2rem;
    background-color: tomato;
}

.input-number{
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 10px;
    display: flex;
    
}
.label{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.input-style {
    background-color: rgb(105, 94, 105);
    padding-left: 10rem;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    display: flex;
    
    
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;    
    

}
.rellenar-style {
    background-color: rgb(158, 52, 158);
    padding-bottom: 3rem;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    display: flex;
    
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;    
}
.rellenar-number{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: flex;
}
.precios{
    margin-left: 250px;
    display: flex;
}
.precio-separado{

    margin-left: 30px;
}