body{
    margin: 0;
}
.titulo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: tomato;
    margin: 0px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.seleccionador {
    display: flex;
    padding-left: 10rem;    
    padding-top: 20px;
    padding-bottom: 2rem;
    background-color: tomato;
}

.input-number{
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 10px;
    display: flex;
    
}
.label{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.input-style {
    background-color: rgb(105, 94, 105);
   
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    display: flex;
    justify-content: center;
    
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;    
    

}
.rellenar-style {
    background-color: rgb(158, 52, 158);
    padding-bottom: 3rem;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    display: flex;
    
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;    
}
.rellenar-number{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: flex;
}
.precios{

    display: flex;
    text-align: center;
    justify-content: center;
}
.precio-junto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.precio-separado2{
    margin-left: 20px;
}



   
  
  .btc-button {
    transition-duration: 0.4s;
    background-color: white; /* Green */
    border: 2px, goldenrod;
    color: goldenrod;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .btc-button:hover {
    background-color: goldenrod; /* Green */
    border :2px, goldenrod;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;

  }
  .ethereum-button {
    transition-duration: 0.4s;
    background-color: white; /* Green */
    border: 2px, gray;
    color: gray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .ethereum-button:hover {
    background-color: gray; /* Green */
    border :2px, gray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;

  }

  .btc-eth-button {
      display: flex;
      flex-direction: row;
      background-color: black;
  }

  .titulo-precio {
      display: flex;
      justify-content: center;
  }

  .navbar{
      background-color: black;
      display: flex;
      justify-content: end;
  }
  .table-button {
    transition-duration: 0.4s;
    background-color: black; /* Green */
    border: 2px, black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
  }

  .table-button:hover{
    background-color: white; /* Green */
    border :2px, black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
  }