

.parteSuperior {
  background-color: rgba(255, 255, 0, 0.664);
  text-align: center;
  

}
.nav{
    
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.buscador {
  border-radius: 5px;
  text-align: center;
}
body{
    padding: 0;
    margin: 0;
}